body {
	background-color: #D3D3D3;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 49px;
	background-color: #5F9EA0;
}

.men {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -4.75%;
}

.mn {
	display: block;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: 0.5s;
	padding: 0 20px;
}

.m {
	text-decoration: none;
	color: white;
	transition: 0.5s;
}

.men:hover .mn .m:hover {
	font-size: 25px;
	background-color: #40E0D0;
	color: #2F4F4F;
	padding: 10px;
}

.car {
	border: 7px solid #20B2AA;
	border-radius: 2%;
}