body {
	background-image: url(yn.png);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bg {
	background-color: white;
	width: 845px;
	opacity: 72%;
	border: 1px solid #20B2AA;
	border-radius: 10px;
	margin-top: 300px;
}

.sl {
	text-decoration-line: none;
	color: #1E90FF;
}
